<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ViDi.NET" publicKeyToken="af17e7056638eaaa" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.3714" newVersion="2.2.0.3714"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ViDi.NET.Interfaces" publicKeyToken="af17e7056638eaaa" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.3714" newVersion="2.2.0.3714"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ViDi.NET.Base" publicKeyToken="af17e7056638eaaa" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.3714" newVersion="2.2.0.3714"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cognex.VisionPro.Core" publicKeyToken="ef0f902af9dee505" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-62.0.0.0" newVersion="62.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cognex.VisionPro" publicKeyToken="ef0f902af9dee505" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-62.0.0.0" newVersion="62.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cognex.VisionPro.CorePlus" publicKeyToken="ef0f902af9dee505" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-63.0.0.0" newVersion="63.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cognex.VisionPro.ImageProcessing" publicKeyToken="ef0f902af9dee505" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-63.0.0.0" newVersion="63.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cognex.VisionPro.QuickBuild.Core" publicKeyToken="ef0f902af9dee505" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-62.0.0.0" newVersion="62.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cognex.VisionPro.ToolGroup" publicKeyToken="ef0f902af9dee505" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-62.0.0.0" newVersion="62.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cognex.VisionPro.ImageFile" publicKeyToken="ef0f902af9dee505" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-62.0.0.0" newVersion="62.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AsyncIO" publicKeyToken="44a94435bd6f33f8" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.0.0.0" newVersion="0.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
