<?xml version="1.0" encoding="utf-8"?>
<PluginConfig>
  <CompanyName>Cognex Corporation</CompanyName>
  <Name>DeepLearning Vision</Name>
<DisplayVersion>4.1.3.21525</DisplayVersion>
<Version>4.1.3.21525</Version>
  <TargetAPI>4.3.0</TargetAPI>
  <Architecture>Any</Architecture>
  <AutoSelectPlugin>True</AutoSelectPlugin>
  <CompatibilityChecks>
  </CompatibilityChecks>
</PluginConfig>
